<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/one_pastebin.css">
<link rel="stylesheet" href="css/pastebin_list.css">
<link rel="stylesheet" href="css/login_or_signup.css">

<script src="libs/angularjs/angular.min.js"></script>
<script src="libs/angularjs/angular-ui-router.min.js"></script>
<script src="libs/uiMask/mask.min.js"></script>
<script src="libs/ngStorage/ngStorage.min.js"></script>
<script src="libs/underscore/underscore-min.js"></script>
<script src="libs/underscore/underscore.string.min.js"></script>
<script src="dist/all.min.js"></script>

<title>Fake Pastebin</title>
</head>

<body class="main" ng-app="app" ng-controller="AppController as ctrl">
	<nav>
		<ul class="nav nav-pills">
			<li><a class="btn btn-info" ng-if="!ctrl.isUserLogged()" ui-sref="authentication">Authentication</a></li>
			<li><a class="btn btn-info" ng-if="ctrl.isUserLogged()" ng-click="ctrl.logout()">Logout</a></li>
			<li><a class="btn btn-info" ng-if="ctrl.isUserLogged()" ui-sref="addPastebin">Add Pastebin</a></li>
			<li><a class="btn btn-info" ui-sref="pastebinList">Pastebin List</a></li>
			<li><a class="btn btn-info" ng-if="ctrl.isUserLogged()" ui-sref="usersPastebin({id: ctrl.userid()})">Users Pastebin</a></li>
		</ul>
	</nav>
	<div ui-view class="content"></div>
</body>

</html>
