<div>
	<div>ONE PASTEBIN</div>
	<div>
		<span>Username: </span> {{::ctrl.pastebin.username}}
	</div>
	<div>
		<span>Pastebin language: </span> <select name="language"
			ng-model="ctrl.selectedLanguage"
			ng-options="option.name for option in ctrl.languages track by option.id">
			
		</select>
	</div>
	<textarea placeholder="Here paste your code" ng-model="ctrl.pastebin.code"></textarea>
	<button ng-click="ctrl.buttonAction()">{{::ctrl.buttonText}}</button>
	<button ng-click="ctrl.cancelAction()">{{::ctrl.cancelText}}</button>
</div>