<div>PASTEBIN LIST</div>
<table>
	<tr>
		<th>Author</th>
		<th>Date</th>
		<th>Language</th>
		<th>Pastebin</th>
	</tr>

	<tr ng-repeat="pastebin in ctrl.displayPastebins">
		<td>{{$index}} {{pastebin.username}}</td>
		<td>{{pastebin.date | date:'MMM d, y h:mm a'}}</td>
		<td>{{pastebin.language}}</td>
		<td>{{pastebin.code}}</td>
		<td ng-if="ctrl.isErasable(pastebin)"><button
				ng-click="ctrl.removePastebin(pastebin.id, $index)"
				ng-disable="{{!canDeleteData}}">Delete</button></td>
	</tr>
</table>