<div class="pastebin_list">
	<h1>Pastebin's list</h1>

	<div id="full-search">
		Full text searching <input class="form-control" type="text"
			ng-model="ctrl.textFilter" placeholder="Full text filter" />
	</div>
	<div id="list-container">
		<table>
			<tr>
				<th>Author <input class="form-control" type="text"
					ng-model="ctrl.authorFilter" placeholder="Author filter" /></th>
				<th>Date <input class="form-control" type="text"
					ng-model="ctrl.dateFilter" placeholder="DD/MM/YYYY"
					ui-mask="99/99/9999" /></th>
				<th>Language <input class="form-control" type="text"
					ng-model="ctrl.languageFilter" placeholder="Language filter" /></th>
				<th>Pastebin</th>
			</tr>
			<tr
				ng-repeat="data in displayed = (ctrl.displayPastebins | filter: {pastebin: {username: ctrl.authorFilter,
			 language: ctrl.languageFilter}} | filter: {dateInString: ctrl.dateFilter} | filter: ctrl.fulltextFilter)">
				<td>{{data.pastebin.username}}</td>
				<td>{{data.pastebin.date | date:'dd/MM/yyyy HH:mm'}}</td>
				<td>{{data.pastebin.language}}</td>
				<td>{{data.pastebin.code}}</td>
				<td ng-if="ctrl.isErasable(data.pastebin)"><button
						class="btn btn-info"
						ng-click="ctrl.removePastebin(data.pastebin.id, data.list_id)">Delete</button></td>
				<td ng-if="ctrl.isEditable(data.pastebin)"
					ng-click="ctrl.edit(data.pastebin)"><button
						class="btn btn-warning">Edit</button></td>
			</tr>
			<tr id="no-data-row-container" ng-if="displayed.length == 0">
				<td><div id="no-data-row">NO DATA</div></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>