<div>PASTEBIN LIST</div>

<div>
	<input type="text" ng-model="ctrl.textFilter" placeholder="Full text filter" />
</div>
<table>
	<tr>
		<th>Author</th>
		<th>Date</th>
		<th>Language</th>
		<th>Pastebin</th>
	</tr>
	<tr>
		<th><input type="text" ng-model="ctrl.authorFilter"
			placeholder="Author filter" /></th>
		<th><input type="text" ng-model="ctrl.dateFilter"
			placeholder="DD/MM/YYYY" ui-mask="99/99/9999"/></th>
		<th><input type="text" ng-model="ctrl.languageFilter"
			placeholder="Language filter" /></th>
		<th></th>
	</tr>
	<tr
		ng-repeat="pastebin in ctrl.displayPastebins | filter: {username: ctrl.authorFilter, language: ctrl.languageFilter} | filter: ctrl.textFilter">
		<td>{{pastebin.username}}</td>
		<td>{{pastebin.date | date:'dd/MM/yyyy hh:mm'}}</td>
		<td>{{pastebin.language}}</td>
		<td>{{pastebin.code}}</td>
		<td ng-if="ctrl.isErasable(pastebin)"><button
				ng-click="ctrl.removePastebin(pastebin.id, $index)">Delete</button></td>
		<td ng-if="ctrl.isEditable(pastebin)" ng-click="ctrl.edit(pastebin)"><button>Edit</button></td>
	</tr>
</table>